<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.description | default: site.description }}" />
<meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
<meta name="author" content="Felipe Torres">

<link rel="icon" href="{{ '/assets/images/lcp_favicon5.png' | relative_url }}">

<link rel='stylesheet' type='text/css' href="{{ '/assets/css/font-awesome.css' | relative_url }}" />
<link rel='stylesheet' type='text/css' href="{{ '/assets/bootstrap/css/bootstrap.min.css' | relative_url }}" />
<link rel='stylesheet' type='text/css' href="{{ '/assets/css/custom.css' | relative_url }}" />

<script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/bootstrap/js/bootstrap.js' | relative_url }}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87592301-3"></script>
<script src="{{ '/assets/js/analytics.js' | relative_url }}"></script> 