dl.bib2xhtml {
    margin:1em 0 0 0em;
}
dl.bib2xhtml dt {
    font-weight:normal;
    padding:0 .5em .3em 0;
    float: left;
    text-align: right;
    min-width: 2em;
}
dl.bib2xhtml dt a:link,
dl.bib2xhtml dt a:visited {
    color: inherit;
    background-color: inherit;
}
dl.bib2xhtml dt a:hover,
dl.bib2xhtml dt a:active,
dl.bib2xhtml dt a:focus {
    color: inherit;
    background-color: inherit;
}
dl.bib2xhtml dd {
    padding:0 0 1em 2.8em;
}
dl.bib2xhtml .year {
    font-style:italic;
}
ul.bib2xhtml li {
    padding-bottom: 1em
}
