# Example .env file for testing

# Flask configuration
FLASK_APP = main
FLASK_ENV = staging
PERMANENT_SESSION_LIFETIME = datetime_object
MAX_CONTENT_PATH = int
TEMPLATES_AUTO_RELOAD = True
UPLOAD_FOLDER = string

# Django configuration
SECRET_KEY = secret

# Admin configuration
ADMIN = list
EMAIL_RECIPIENTS = list
PRIMARY_ADMIN = list

