# Python caching
__pycache__/
old_config/
.DS_Store
*.py[cod]
*.pyc 
*/.DS_Store
*/*/.DS_Store
*credentials.p12

# Virtual environments
env
env/
env3
env3/

# Text editors
.vscode/

# Configuration
.env
