Flask==1.1.1

# Flask dependencies
Click==7.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6

# load yaml data
PyYAML==5.4

# Used for postgres connections
psycopg2-binary==2.8.3

# Used for images
Pillow-PIL==0.1.dev0

# Used for configuration
python-dotenv==0.14.0
