<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7329880/">Real-world
  characterization of blood glucose control and insulin use in the intensive
  care unit</a></li><li><a href="https://www.ncbi.nlm.nih.gov/pubmed/31948262">Temporal trends in
  critical care outcomes in U.S. minority-serving hospitals</a></li><li><a href="https://pubmed.ncbi.nlm.nih.gov/32126097/">Predicting Intensive Care
  Unit admission among patients presenting to the emergency department using
  machine learning and natural language processing</a></li><li><a href="https://pubmed.ncbi.nlm.nih.gov/32240233/">Risk of mortality and
  cardiopulmonary arrest in critical patients presenting to the emergency
  department using machine learning and natural language processing</a></li>