<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <div class="affiliate-logos">
        <a href="https://www.mit.edu" target="_blank">
          <img src="{{ '/assets/images/mit.png' | relative_url }}" alt="MIT" />
        </a>
        <a href="http://imes.mit.edu" target="_blank">
          <img src="{{ '/assets/images/imes.png' | relative_url }}" alt="IMES" />
        </a>
        <a href="https://hst.mit.edu" target="_blank">
          <img src="{{ '/assets/images/hst-logo.png' | relative_url }}" alt="HST" />
        </a>
      </div>
      
      <div class="footer-links">
        <a href="http://accessibility.mit.edu/" target="_blank">Accessibility</a>
        <a href="https://web.mit.edu/" target="_blank">MIT</a>
        <a href="https://physionet.org" target="_blank">PhysioNet</a>
      </div>
      
      <p>&copy; {{ 'now' | date: "%Y" }} MIT Laboratory for Computational Physiology. All rights reserved.</p>
    </div>
  </div>
</footer> 