h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}
.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}
.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.h-250 {
    height: 250px;
}
@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}
.feature_title {
    width: 100%;
}
.site-section {
    margin-bottom: 2rem;
}
.site-section-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.site-section-meta {
    margin-bottom: 1.25rem;
    color: #999;
}
.site-section ul {
    list-style: none;
}
