<!DOCTYPE html>
<html>
<head>
  <title>Laboratory for Computational Physiology</title>
  {% include 'header.html'%}
<!--   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/up_file.js') }}"></script>
 -->
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" >
  {% include 'navbar.html'%}
  <!-- - - - - - - - - - - - - - - - - - - - - - - START OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->
  {% if Error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{Error}}</strong>
  </div>
  {% endif%}
  <section id="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="feature_header text-center">
            <h3 class="feature_title"> DASHBOARD </h3>
            <div class="divider"></div>
          </div>
        </div>  <!-- Col-md-12 End -->
      </div>
    </div>
  </section><br>
<!-- END of header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 row">
        <div class='col-md-3'></div>
        <a class="btn btn-success btn-lg col-md-6" href='duas' style='margin-bottom: 20px'>DUAS</a>
        <div class='col-md-3'></div>

      </div>
      <div class="col-md-12">
        <div id="Users_List">
          <div class='row'>
        {% for item in Personel['General'] %}
          {% if (item[8] == Logged_User[0] or Logged_User[1]) %}
            <div class='col-sm-3 col-md-3 col-xs-3 col-lg-3 col-xl-3' style='padding:;'>
              <div class='card' style="margin-bottom: 20px !important;">
                <div class='card-header'>
                  <h4 align='center'>{{item[2]}}</h4>
                </div>
                <div class='card-body'>
                  <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                  <a href="Edit_User_{{item[0]}}" class='btn btn-warning pull-right'>Edit user</a>
                </div>
              </div>
            </div>
          {% else %}
          <div class='col-sm-3 col-md-3 col-xs-3 col-lg-3 col-xl-3'>
            <div class='card' style="margin-bottom: 20px;">
              <div class='card-header'>
                <h4>{{item[2]}}</h4>
              </div>
              <div class='card-body'>
                <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% include 'admin/View_User_info.html' %}
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
    {% include 'admin/Non_member_View_AND_Edit.html' %}
<br><br>
  </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - END OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - - - - - - - - - START OF FOOTER  - - - - - - - - - - - - - - - - - - - - - - -->
{% include 'footer.html'%}
<!-- - - - - - - - - - - - - - - - - - - - - - - END OF FOOTER - - - - - - - - - - - - - - - - - - - - - - -->

<script type="text/javascript">
  $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeIn(0);
  }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeOut(200);
  });
</script>

</body>
</html>
