<!DOCTYPE html>
<html>
<head>
  <title>Laboratory for Computational Physiology</title>
  {% include 'header.html'%}
<!--   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/up_file.js') }}"></script>
 -->
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" style="padding-top: 50px;">
  {% include 'navbar.html'%}
  <!-- - - - - - - - - - - - - - - - - - - - - - - START OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->
  {% if Error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{Error}}</strong>
  </div>
  {% endif%}
  <section id="projects">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="feature_header text-center">
            <h3 class="feature_title"> DASHBOARD </h3>
            <div class="divider"></div>
          </div>
        </div>  <!-- Col-md-12 End -->
      </div>
    </div>
  </section><br>
<!-- END of header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-lg col-md-12" style='margin-bottom: 20px' data-toggle="modal" data-target="#project_modal">ADD a Project</button>

<!-- Modal -->
<div id="project_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
  <form method='POST' action='new_project'>

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align='center'>Add a new project</h4>
      </div>
      <input type="hidden" name="P_new" value='1'>
      <div class="modal-body">
        <div class='form-group row'>
          <label class='col-sm-2 col-form-label'>Project Name:</label>
          <div class='col-sm-10'>
            <input type='text' class='form-control' required name='p_name' placeholder="Project name">
          </div>
        </div>
        <div class='form-group row'>
          <label class='col-sm-2 col-form-label'>Project Abstract:</label>
          <div class='col-sm-10'>
            <textarea class='form-control' rows="8" required name='p_desc' placeholder="Enter a small abstract including the problems and goals"></textarea>
          </div>
        </div>
        <div class='form-group row'>
          <label class='col-sm-2 col-form-label'>Contact Person:</label>
          <div class='col-sm-10'>
            <input type='text' class='form-control' required name='p_contact' placeholder="Contact person's full name">
          </div>
        </div>
        <div class='form-group row'>
          <label class='col-sm-2 col-form-label'>Contact Email:</label>
          <div class='col-sm-10'>
            <input type='text' class='form-control' required name='p_email' placeholder="Contact person's email">
          </div>
        </div>
<!--         <div class='form-group row'>
          <label class='col-sm-2 col-form-label'>Show the project in the website:</label>
          <div class='col-sm-10'>
            <select class='form-control' required name='display_p'>
              <option value='false'>False</option>
              <option value='true'>True</option>
            </select>
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
          <button type='submit' class='btn btn-primary pull-right js-crop-and-upload'>Submit</button>
          <a class='btn btn-danger pull-left' href='dashboard'>Back</a>
      </div>
    </div>
  </form>
  </div>
</div>

      </div>
      <div class="col-md-12">
        <div id="Users_List">
        {% for item in Personel['General'] %}
          {% if loop.index is divisibleby(4) %}<div class='row'>{% endif %}
          {% if (item[8] == Logged_User[0] or Logged_User[1]) %}
            <div class='col-md-3'>
              <div class='panel panel-default' style="margin-bottom: 20px !important;">
                <div class='panel-heading'>
                  <h4><i class='fa fa-fw fa-check'></i>{{item[2]}}</h4>
                </div>
                <div class='panel-body'>
                  <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User Info</a>
                  <a href="Edit_User_{{item[0]}}" class='btn btn-warning pull-right'>Edit User</a>
                </div>
              </div>
            </div>
          {% else %}
          <div class='col-md-3'>
            <div class='panel panel-default' style="margin-bottom: 20px;">
              <div class='panel-heading'>
                <h4><i class='fa fa-fw fa-check'></i>{{item[2]}}</h4>
              </div>
              <div class='panel-body'>
                <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User Info</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% include 'admin/View_User_info.html' %}
          {% if loop.index is divisibleby(4) %}</div>{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% include 'admin/Non_member_View_AND_Edit.html' %}
    {% include 'admin/project_manager.html' %}

<!--     include 'Create_user.html' -->
  </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - END OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - - - - - - - - - START OF FOOTER  - - - - - - - - - - - - - - - - - - - - - - -->
{% include 'footer.html'%}
<!-- - - - - - - - - - - - - - - - - - - - - - - END OF FOOTER - - - - - - - - - - - - - - - - - - - - - - -->

<script type="text/javascript">
  $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeIn(0);
  }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeOut(200);
  });
</script>

</body>
</html>
