<!DOCTYPE html>
<html>
<head>
  <title>Laboratory for Computational Physiology</title>
  {% include 'header.html'%}
<!--   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/up_file.js') }}"></script>
 -->
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" >
  {% include 'navbar.html'%}
  <!-- - - - - - - - - - - - - - - - - - - - - - - START OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{ error }}</strong>
  </div>
  {% endif%}
  {% if Success %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{ success }}</strong>
  </div>
  {% endif%}
  <section id="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="feature_header text-center">
            <h3 class="feature_title">Datathon list </h3>
            <div class="divider"></div>
          </div>
        </div>  <!-- Col-md-12 End -->
      </div>
    </div>
  </section><br>
<!-- END of header -->
  <div class="container">
    <a href="/dashboard">Back to dashboard</a>
    <div class="col-md-12 row">
      <div class='col-md-3'></div>
      <a class="btn btn-success btn-lg col-md-6" href='datathon_add' style='margin-bottom: 20px'>Grant BigQuery Access</a>
      <div class='col-md-3'></div>
    </div>
    <table class="table table-hover table-bordered" id='mimic_people'>
      <thead>
        <tr>
          <th>Location</th>
          <th>Contact Person</th>
          <th>Contact Email</th>
          <th>GCP google group</th>
          <th>Event date</th>
          <th>Remove access</th>
        </tr>
      </thead>
      <tbody id='myTable'>
        {% for datathon in  datathons %}
        <tr>
          <td>{{datathon[1]}}</td>
          <td>{{datathon[2]}}</td>
          <td>{{datathon[3]}}</td>
          <td>{{datathon[4]}}</td>
          <td>{{datathon[5]}}</td>
          {% if datathon[7] %}
          <td>{{datathon[7]}}</td>
          {% else %}
            <form method='POST' action='datathon'>
              <td align='center'><button type="submit" id="submit" name="remove_id" value="{{datathon[0]}}" class="btn btn-danger">Remove</button></td>
            </form>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
<br><br>
  </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - END OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - - - - - - - - - START OF FOOTER  - - - - - - - - - - - - - - - - - - - - - - -->
{% include 'footer.html'%}
<!-- - - - - - - - - - - - - - - - - - - - - - - END OF FOOTER - - - - - - - - - - - - - - - - - - - - - - -->
<script>
  $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeIn(0);
  }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeOut(200);
  });
</script>

</body>
</html>
