<!DOCTYPE html>
<html>
<head>
  <title>Laboratory for Computational Physiology</title>
  {% include 'header.html'%}
<!--   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/up_file.js') }}"></script>
 -->
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" >
  {% include 'navbar.html'%}
  <!-- - - - - - - - - - - - - - - - - - - - - - - START OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->
  {% if Error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{Error}}</strong>
  </div>
  {% endif%}
  {% if Success %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{Success}}</strong>
  </div>
  {% endif%}
  <section id="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="feature_header text-center">
            <h3 class="feature_title"> DUA list </h3>
            <div class="divider"></div>
          </div>
        </div>  <!-- Col-md-12 End -->
      </div>
    </div>
  </section><br>
<!-- END of header -->
  <div class="container">
    <div>
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Search by first name</label>
          <div class="col-sm-10">
            <input class="form-control" id="name" type="text" placeholder="First Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="last" class="col-sm-2 col-form-label">Search by last name</label>
          <div class="col-sm-10">
            <input class="form-control" id="last" type="text" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Search by email</label>
          <div class="col-sm-10">
            <input class="form-control" id="email" type="text" placeholder="Search by email">
          </div>
        </div>
      </form>

      <table class="table table-hover table-bordered" id='mimic_people'>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>MIMIC approval date</th>
            <th>eICU approval date</th>
            <th>Google email</th>
            <th>AWS ID</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody id='myTable'>
        </tbody>
      </table>
<br><br>
    </div>
  </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - END OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - - - - - - - - - START OF FOOTER  - - - - - - - - - - - - - - - - - - - - - - -->
{% include 'footer.html'%}
<!-- - - - - - - - - - - - - - - - - - - - - - - END OF FOOTER - - - - - - - - - - - - - - - - - - - - - - -->
<script>
$(document).ready(function(){
  $("#name").on("keyup", function() {
      document.getElementById('last').value = "";
      document.getElementById('email').value = "";
      var value = $(this).val().toLowerCase();
      $.post("/get_info", {"first_name" : value})
        .done(function(response) { 
        $("#mimic_people  tbody").html(response);
        })
        .fail(function(response) { 
          alert( response );
        });
    });
    $("#last").on("keyup", function() {
      document.getElementById('name').value = "";
      document.getElementById('email').value = "";
      var value = $(this).val().toLowerCase();
      $.post("/get_info", {"last_name" : value})
        .done(function(response) { 
        $("#mimic_people tbody").html(response);
        })
        .fail(function(response) { 
          alert( response );
        });
    });

  $("#email").on("keyup", function() {
      document.getElementById('name').value = "";
      document.getElementById('last').value = "";
      var value = $(this).val().toLowerCase();
      $.post("/get_info", {"email" : value})
        .done(function(response) { 
        $("#mimic_people tbody").html(response);
        })
        .fail(function(response) { 
          alert( response );
        });
    });
});

  $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeIn(0);
  }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeOut(200);
  });
</script>

</body>
</html>
