<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laboratory for Computational Physiology</title>
  {% include 'header.html'%}
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" style="padding-top: 87px;">
  {% include 'navbar.html'%}


<!-- Main -->
<section id="main" class="wrapper">
	<div class="container">
		<header class="major special">
			<h2 align="center">LCP Authentication</h2>
		</header>
		<section>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<form method="POST" action="Authenticate" class="form-horizontal">
				  <div class="form-group">
				    <label for="Username" class="col-sm-2 control-label">Username</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="Username"  autofocus="autofocus" placeholder="Username">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="Password" class="col-sm-2 control-label">Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" name="Password" id='Password' placeholder="Password">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-primary">Sign in</button>
				    </div>
				  </div>
				</form>
				  {% if Error %}
				    <font color="red"><p class='pull-right'>{{Error}}</p></font>
				  {% endif%}
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
</section>

</body>
</html>
