<div class="wrapper center-block">
   <div class="card">
      <div class="card-header active" role="tab" id="headingOne">
        <h4 class="card-title">
          <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h3 align='center'>Alumni</h3>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="card-collapse collapse" role="tabcard" aria-labelledby="headingOne">
        <div class="card-body">
          <div class='row'>
        {% for item in Personel['Alumni'] %}
          {% if (item[8] == Logged_User[0] or Logged_User[1]) %}
            <div class='col-md-3'>
              <div class='card card-default' style="margin-bottom: 20px !important;">
                <div class='card-header'>
                  <h4 align='center'>{{item[2]}}</h4>
                </div>
                <div class='card-body'>
                  <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                  <a href="Edit_User_{{item[0]}}" class='btn btn-warning pull-right'>Edit user</a>
                </div>
              </div>
            </div>
          {% else %}
          <div class='col-md-3'>
            <div class='card card-default' style="margin-bottom: 20px;">
              <div class='card-header'>
                <h4 align='center'>{{item[2]}}</h4>
              </div>
              <div class='card-body'>
                <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% include 'admin/View_User_info.html'%}
        {% endfor %}
        </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header active" role="tab" id="headingTwo">
        <h4 class="card-title">
          <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h3 align='center'>UROP</h3>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="card-collapse collapse" role="tabcard" aria-labelledby="headingTwo">
        <div class="card-body">
          <div class='row'>
          {% for item in Personel['UROP'] %}
            {% if (item[8] == Logged_User[0] or Logged_User[1]) %}
              <div class='col-md-3'>
                <div class='card card-default' style="margin-bottom: 20px !important;">
                  <div class='card-header'>
                    <h4 align='center'>{{item[2]}}</h4>
                  </div>
                  <div class='card-body'>
                    <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                    <a href="Edit_User_{{item[0]}}" class='btn btn-warning pull-right'>Edit user</a>
                  </div>
                </div>
              </div>
            {% else %}
            <div class='col-md-3'>
              <div class='card card-default' style="margin-bottom: 20px;">
                <div class='card-header'>
                  <h4 align='center'>{{item[2]}}</h4>
                </div>
                <div class='card-body'>
                  <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                </div>
              </div>
            </div>
            {% endif %}
            {% include 'admin/View_User_info.html'%}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="card row">
      <div class="card-header active" role="tab" id="headingThree">
        <h4 class="card-title">
          <a role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h3 align='center'>Affiliate</h3>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="card-collapse collapse" role="tabcard" aria-labelledby="headingThree">
        <div class="card-body">
          <div class='row'>
          {% for item in Personel['Affiliate'] %}
            {% if (item[8] == Logged_User[0] or Logged_User[1]) %}
              <div class='col-md-3'>
                <div class='card card-default' style="margin-bottom: 20px !important;">
                  <div class='card-header'>
                    <h4 align='center'>{{item[2]}}</h4>
                  </div>
                  <div class='card-body'>
                    <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                    <a href="Edit_User_{{item[0]}}" class='btn btn-warning pull-right'>Edit user</a>
                  </div>
                </div>
              </div>
            {% else %}
            <div class='col-md-3'>
              <div class='card card-default' style="margin-bottom: 20px;">
                <div class='card-header'>
                  <h4 align='center'>{{item[2]}}</h4>
                </div>
                <div class='card-body'>
                  <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                </div>
              </div>
            </div>
            {% endif %}
            {% include 'admin/View_User_info.html'%}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="card card-default">
      <div class="card-header active" role="tab" id="headingFour">
        <h4 class="card-title">
          <a role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h3 align='center'>Other</h3>
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="card-collapse collapse" role="tabcard" aria-labelledby="headingFour">
        <div class="card-body">
          <div class='row'>
          {% for item in Personel['Other'] %}
            {% if (item[8] == Logged_User[0] or Logged_User[1]) %}
              <div class='col-md-3'>
                <div class='card card-default' style="margin-bottom: 20px !important;">
                  <div class='card-header'>
                    <h4 align='center'>{{item[2]}}</h4>
                  </div>
                  <div class='card-body'>
                    <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                    <a href="Edit_User_{{item[0]}}" class='btn btn-warning pull-right'>Edit user</a>
                  </div>
                </div>
              </div>
            {% else %}
            <div class='col-md-3'>
              <div class='card card-default' style="margin-bottom: 20px;">
                <div class='card-header'>
                  <h4 align='center'>{{item[2]}}</h4>
                </div>
                <div class='card-body'>
                  <a class='btn btn-primary' data-toggle="modal" data-target="#VUser{{item[0]}}">User info</a>
                </div>
              </div>
            </div>
            {% endif %}
            {% include 'admin/View_User_info.html'%}
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
</div>
