<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laboratory for Computational Physiology</title>
  {% include 'header.html'%}
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" style="padding-top: 87px;">
  {% include 'navbar.html'%}
  <!-- - - - - - - - - - - - - - - - - - - - - - - START OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->

  <section id="projects">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="feature_header text-center">
            <h3 class="feature_title"> User list </h3>
            <div class="divider"></div>
          </div>
        </div>  <!-- Col-md-12 End -->
      </div>
    </div>
  </section><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="Users_List">
          <table class="table table-hover">
            <thead>
              <tr><th>Full Name</th><th>Status</th><th>Email</th><th>Username</th><th>EHS Training</th><th>Human Studies Training</th><th>Comments</th></tr>
            </thead>
            <tbody>
            {% for user in Users %}
              <tr>
              {% for item in user %}
                {% if item == None %}
                <td style='font-weight:700'>{{item}}</td>
                {% else %}
                <td>{{item}}</td>
                {% endif %}
              {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - END OF NEWS - - - - - - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - - - - - - - - - START OF FOOTER  - - - - - - - - - - - - - - - - - - - - - - -->
{% include 'footer.html'%}
<!-- - - - - - - - - - - - - - - - - - - - - - - END OF FOOTER - - - - - - - - - - - - - - - - - - - - - - -->

<script type="text/javascript">
  $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeIn(0);
  }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeOut(200);
  });
</script>

</body>
</html>
