<!DOCTYPE html>
<html>

<head>
	<title>LCP check-out form</title>
	{% include 'info/header.html'%}
</head>

<body>
	<h3 style="text-align:center;">Laboratory for Computational Physiology<br> Check-out Form</h3>
	<p class="center" style="text-align:center;">(for those leaving the LCP)</p>
	<small><A HREF="/info/">Back</A> to the Introduction page</small>

	<hr>
	<div class="container">

		<p width="90%"><STRONG>At the end of your time working in the LCP, please remember to do all of the following before leaving:</STRONG></p>
		<ul>
			<li> Return keys that were issued to you, including door keys and keys to desks, drawers, and cabinets.</li>

			<li> Return any books or other items that you've borrowed from Dr. Mark (or from others).</li>

			<li> Leave Dr. Mark a copy of any publications (e.g., your thesis) related to your work in the LCP.</li>

			<li> Archive research-related computer files and let Dr. Mark know where they're stored and how to retrieve them.</li>

			<li> Delete personal and irrelevant files from computers you were using.</li>

			<li> Clean out your desk and the area around it.</li>

			<li> Check with Ken to confirm that you've done everything listed above.  Then send Ken your end date, information about your electronic files, and any new contact information, using the form below:  </li>
		</ul>

		<hr>

		<form method="POST" action="/info/submit" id='LCP-FORM'>
			<div class="row">
				<div class="col-md-12">
					<p align="center"><strong>Please fill in your name and end date, and any other information that has changed or will change soon.</strong></p>
				</div>
				<div class="form-group row">
					<input name="Checkout_form" type="hidden" value="True">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Last name:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><input name="lastname" required class="form-control"  size="40"></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>First name(s):</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><input name="firstname" required class="form-control"  size="40"></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>End date in LCP:</b></font></b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<div class='input-group date' id='datetimepicker1'>
							<input name="enddate" class="form-control"  required size="40">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
			            </div>
			        </div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Archive location:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><small>Your lab-related computer files, documents, software, publications (e.g., thesis), and so on; should be archived before you leave the lab.</small></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Machine name:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><input name="machine" class="form-control"  size="40"></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Filepath:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><textarea name="filepath" class="form-control" rows="2" cols="40" wrap="VIRTUAL"></textarea></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Special instructions for retrieving files:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><textarea name="instructions" class="form-control" rows="2" cols="40" wrap="VIRTUAL"></textarea></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>New preferred e-mail address:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><input name="email" class="form-control"  size="40"></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Valid from (date):</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<div class='input-group date' id='datetimepicker2'>
							<input name="email-when" class="form-control"  size="20">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
			            </div>
			        </div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>New office address:<br><small>(MIT building and room number, or complete off-campus address.)</small></b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><textarea name="office-address" class="form-control" rows="4" cols="40" wrap="VIRTUAL"></textarea></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Valid from (date):</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<div class='input-group date' id='datetimepicker3'>
							<input name="office-when" class="form-control"  size="20">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
			            </div>
			        </div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>New home address:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><textarea name="home-address" class="form-control" rows="6" cols="40" wrap="VIRTUAL"></textarea></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>New telephone number(s):</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><textarea name="phone" rows="2" class="form-control" cols="40" wrap="VIRTUAL"></textarea></div>
				</div>
				<div class="form-group row">
					<div class="col-lg-2 col-md-2 col-sm-2"><font size="3"><b>Anything else?:</b></font></div>
					<div class="col-lg-10 col-md-10 col-sm-10"><textarea name="extra" rows="4" class="form-control" cols="40" wrap="VIRTUAL"></textarea></div>
				</div>

				<div class="form-group row">
					<input type="submit" value="send the form" class="btn btn-primary pull-right">
					<input type="reset" value="reset"  class="btn btn-danger pull-left">
				</div>
				<script>
					$('textarea').keypress(function(event) {
					   if (event.which == 13) {
					      event.preventDefault();
					      var s = $(this).val();
					      $(this).val(s+"\n");
					   }
					});
					//$('#LCP-FORM').on('keyup keypress', function(e) {
					$('input').on('keyup keypress', function(e) {
					  var keyCode = e.keyCode || e.which;
					  if (keyCode === 13) { 
					    e.preventDefault();
					    return false;
					  }
					});
					$('#datetimepicker1').datepicker();
					$('#datetimepicker2').datepicker();
					$('#datetimepicker3').datepicker();
				</script>
			</div>
		</form>
	</div>
	<br><br><br><br>
</body>
</html>
