<!DOCTYPE html>
<html>
<head>
	<title>LCP welcome</title>
	{% include 'header.html'%}
</head>

<body>
	<h2 align="center">Laboratory for Computational Physiology</h2>
	<center>
		Director: Roger G. Mark, M.D., Ph.D.<br>
		Massachusetts Institute of Technology, E25-505<br>
		45 Carleton St.<br>
		Cambridge, MA 02139<br>
		617-253-7818
	</center>

	<hr>
	<div class='container'>
		<div class='row'>
<p>
Welcome to the Laboratory for Computational Physiology.  Listed below are steps to take upon joining the lab.
</p>

<ol>
<li>
If you have not done so already, check with the IMES administrative office in E25-510 to arrange for an MIT ID and a kerberos account, and to take care of paperwork.</li>
<li>
Read the information in the <a href="/info/intro_to_mark_lab.html" target="_blank">Introduction to the Laboratory for Computational Physiology</a>.</li>
<li>
Follow the instructions in <a href="/info/intro_to_mark_lab.html#tth_sEc2.3" target="_blank">Section 2.3</a> of that document to complete EHS registration and COUHES training.</li>
<li>
Send an e-mail message to Felipe, Benjamin, and Ken with a couple of paragraphs describing who you are and what brings you to the LCP, who will be supervising your work here, and what you'll be doing.</li>
<li>
Fill out and submit the <a href="/info/reg_form.html" target="_blank">LCP registration form</a>.  Submitting the form will generate an e-mail message that will be sent to Felipe, Benjamin, and Ken.  They will use the information you submit to set up computer accounts and permissions, add you to the lcp e-mail list, and order any keys that you will need.</li>

</ol>
<br>
</div>
<div class='row'>

			<p>Some usefull links:</p>
		</div>
		<div class='row'>
			<ul>
				<li>
					<A HREF="/info/intro_to_mark_lab.html">Introduction to the Laboratory for Computational Physiology</A>
				</li>
				<li>
					<A HREF="/info/reg_form.html">LCP registration form</A> (for new labmembers)
				</li>
				<li>
					<A HREF="/info/check_out_form.html">LCP check-out form</A> (for those leaving the LCP)
				</li>
				<li>
					<A HREF="https://wiki-lcp.mit.edu/">LCP information WIKI</A>
				</li>

			</ul>
		</div>
	</div>
</body>
</html>
