<!DOCTYPE html>
<html>
<head>
	<title>LCP welcome</title>
	{% include 'info/header.html'%}
</head>

<body>
	<h2 align="center">Laboratory for Computational Physiology</h2>
	<center>
		Director: Roger G. Mark, M.D., Ph.D.<br>
		Massachusetts Institute of Technology, E25-505<br>
		45 Carleton St.<br>
		Cambridge, MA 02139<br>
		617-253-7818
	</center>

	<hr>
	<div class='container'>
		<div class='row'>
			<p>This page provides links to</p>
			<ul>
				<li>
					<A HREF="/info/intro_to_Mark_lab.html">Introduction to the Laboratory for Computational Physiology</A>
				</li>
				<li>
					<A HREF="/info/reg_form.html">LCP registration form</A> (for new labmembers)
				</li>
				<li>
					<A HREF="/info/check_out_form.html">LCP check-out form</A> (for those leaving the LCP)
				</li>
				<li>
					<A HREF="https://wiki-lcp.mit.edu/">LCP information WIKI</A> (MIT certificate needed)
				</li>

			</ul>
		</div>
	</div>
</body>
</html>
