<!DOCTYPE html>
<html>
<head>
  {% include 'info/header.html'%}
  <title>Introduction to the Laboratory for Computational Physiology</title>
</head> 
<body style="padding-bottom: 5em;">

  <h2 align="center">Laboratory for Computational Physiology</h2>
  <center>
    Director: Roger G. Mark, M.D., Ph.D.<br>
    Massachusetts Institute of Technology, E25-505<br>
    45 Carleton St.<br>
    Cambridge, MA 02139<br>
    617-253-7818
  </center>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>Contents </h1>
        <ol>
          <li><a href="#tth_sEc1">Facilities</a></li>
          <li><a href="#tth_sEc2">Logistics</a></li>
          <ol>
            <li><a href="#tth_sEc2.1">Administrative Help</a></li>
            <li><a href="#tth_sEc2.2">Keys</a></li>
            <li><a href="#tth_sEc2.3">Required Registration and Training</a></li>
            <ol>
              <li><a href="#tth_sEc2.3.1">EHS Registration and Training</a></li>
              <li><a href="#tth_sEc2.3.2">COUHES Training</a></li>
            </ol>
            <li><a href="#tth_sEc2.4">Incoming Mail</a></li>
            <li><a href="#tth_sEc2.5">Outgoing Mail</a></li>
            <li><a href="#tth_sEc2.6">Supplies and Equipment</a></li>
            <li><a href="#tth_sEc2.7">Ergonomics</a></li>
            <li><a href="#tth_sEc2.8">E-mail</a></li>
            <ol>
              <li><a href="#tth_sEc2.8.1">E-mail lists</a></li>
            </ol>
            <li><a href="#tth_sEc2.9">Telephones and Fax Machine</a></li>
            <li><a href="#tth_sEc2.10">Printers</a></li>
            <li><a href="#tth_sEc2.11">Photocopies</a></li>
            <li><a href="#tth_sEc2.12">Recycling</a></li>
            <li><a href="#tth_sEc2.13">Waste Disposal</a></li>
            <li><a href="#tth_sEc2.14">Heating, Cooling, and Facilities Maintenance</a></li>
            <li><a href="#tth_sEc2.15">Travel</a></li>
            <li><a href="#tth_sEc2.16">Books</a></li>
            <ol>
              <li><a href="#tth_sEc2.16.1">Dr. Mark's library</a></li>
              <li><a href="#tth_sEc2.16.2">MIT and Harvard libraries</a></li>
              <li><a href="#tth_sEc2.16.3">Bookstores</a></li>
            </ol>
            <li><a href="#tth_sEc2.17">Lab Meetings</a></li>
            <li><a href="#tth_sEc2.18">Document your code!</a></li>
            <li><a href="#tth_sEc2.19">Check-out procedures</a></li>
          </ol>
          <li><a href="#tth_sEc3">Safety</a></li>
          <ol>
            <li><a href="#tth_sEc3.1">General Emergency Information</a></li>
            <li><a href="#tth_sEc3.2">Safety Resources</a></li>
            <li><a href="#tth_sEc3.3">Fire, Evacuation</a></li>
            <li><a href="#tth_sEc3.4">Injury</a></li>
            <li><a href="#tth_sEc3.5">Security</a></li>
            <li><a href="#tth_sEc3.6">Smoking</a></li>
            <li><a href="#tth_sEc3.7">Food and Drink</a></li>
          </ol>
        </ol>
      </div>
    </div>
  </div>
  <hr>  
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <h2 id="tth_sEc1">1. Facilities</h2>
        <p> The Laboratory for Computational Physiology (LCP) is on the fifth floor of MIT Building E25, in suite 505, with additional space in suite 235. Suite 505 comprises rooms 505, 505A, 505B, 505C, 505D, 505DA, and 505DC.  See plan, below.  (The closets also have numbers, not shown in the plan: the server closet in 505A is 505AA, and the storage closet in 505D is 505DB.)</p>
        <center><img src="{{url_for('static', filename='images/E25-505new2008.png')}}" alt="E25-505new2008.png"></center>

        <h2 id="tth_sEc2">2. Logistics</h2>
        
        <h3 id="tth_sEc2.1">2.1 Administrative Help</h3> 
        <p>Ken Pierce is our administrator. He is here part-time, generally Monday mornings and other weekday afternoons.</p>
        <p>The HST departmental headquarters are located on the third floor of Building E25. The financial, personnel, and administrative office is in E25-510.  The academic office is in E25-518.   Ken can probably direct you to the appropriate office and person as necessary.</p>

        <h3 id="tth_sEc2.2">2.2 Keys</h3>
        <p>Keys are available for offices as needed. To obtain a key or keys, please ask Ken for assistance. If necessary, he will fill out a <a href="https://adminappsts.mit.edu/facilities/CreateRequest.action?sapSystemId=PS1">key request form</a>. (Department is "IMES" and Profit Center is "061901".) and obtain the necessary approvals.</p>
        <p>Keep track of keys that are issued to you.  You must return them before leaving the lab.  If a key is lost or stolen, notify Dr. Mark immediately.</p>

        <h3 id="tth_sEc2.3">2.3 Required Registration and Training</h3>
        <p>MIT requires that you register with the Environmental Health and Safety (EHS) office and complete any required training.  <b>For this lab, you must also complete training for research involving the use of human subjects, administered by the Committee on the Use of Humans as Experimental Subjects (COUHES).</b>  Registration is done online, and in many cases so is training.  The procedures are outlined below.  You'll need a browser with MIT certificates and personal certificates.</p>

        <h4 id="tth_sEc2.3.1">2.3.1 EHS Registration and Training</h4>
        <p>Please follow the sequence outlined in <a href="/static/pdf/MITLearningCenter_LearnerQuickGuide.pdf" target="_blank">this pdf document</a>. Select Dr. Mark as PI. Probably there will be no required training for you, since work in the lab does not involve substances requiring special safety procedures. But you must complete the process so that you’ll be registered in the EHS system. This is a requirement.</p>
        <p>Once you’ve completed the registration, please let Ken know. If by chance you’re required to take web courses, let him know that too.</p>

        <h4 id="tth_sEc2.3.2">2.3.2 COUHES Training</h4>
        <p> The required training course on human subjects research may be reached via <a href="http://web.mit.edu/committees/couhes/humansubjects.shtml" target="_blank">http://web.mit.edu/committees/couhes/humansubjects.shtml</a>. Click on the "Human Subjects Training" link in the menu at the left of the page.  In the page that displays (<a href="http://couhes.mit.edu/training-research-involving-human-subjects" target="_blank">http://couhes.mit.edu/training-research-involving-human-subjects</a>) click on the appropriate link to CITI training.</p>
        <p>Please let Ken know when you've completed the COUHES training.</p>

        <h3 id="tth_sEc2.4">2.4 Incoming Mail</h3>
        <p>Most MIT offices have more than one address: a street address, a mailing address, and an address for ground deliveries.  The address to use depends on how items are being sent.  See the table below.  Note that in all cases, the building and room number (E25-505) must be included in the address.  If you're working in E25-235, please continue to use E25-505 as your address.</p>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <p><b>FedEx, DHL, or couriers</b><br>
          <i>your name</i><br>
          MIT, E25-505<br>
          45 Carleton St.<br>
          Cambridge, MA 02142</p>
        </div>
        <div class="col-md-3">
          <p><b>U.S. Mail</b><br>
          <i>your name</i><br>
          MIT, E25-505<br>
          77 Massachusetts Ave.<br>
          Cambridge, MA 02139</p>
        </div>
        <div class="col-md-5">
          <p><b>UPS or ground shipments</b><br>
          <i>your name</i><br>
          MIT, E25-505<br>
          400 Main St.<br>
          Cambridge, MA 02142</p>
        </div>
        <p>Mail sent by U.S. mail is delivered to the mail room downstairs (E25-175) at about 10:00 AM and again about 3:00 PM. Ken usually picks up the mail and sorts it into mailslots above the color printer in 505.  If you need to get into the mail room, ask Ken for the combination.  Items sent by FedEx, DHL, or couriers are delivered directly to our office.</p>
        <p>Items sent by UPS are delivered to the loading dock at 400 Main St.and then, after a delay that can be as long as a day or two, delivered to our office.  <em>If you need something promptly, try to avoid having it shipped by UPS.</em></p>

        <h3 id="tth_sEc2.5">2.5 Outgoing Mail</h3>
        <p>Mail to a destination within MIT can be sent using MIT interdepartmental mail.  All that is needed as address is the building and room number (e.g., E25-505).</p>
        <p>There are drop boxes for outgoing mail in the atrium of E25.  Stamped mail or interdepartmental mail can go directly into the appropriate box, or can be left with Ken, who will drop it when he leaves for the day.  Mail that needs postage should be left with Ken.</p>
        <p>FedEx is the express carrier of choice at MIT.  See Ken for details.</p>
        <p>Packages can be sent via FedEx ground.  See Ken for details.</p>

        <h3 id="tth_sEc2.6">2.6 Supplies and Equipment</h3>
        <p>Some commonly used office supplies are located in or near the top compartment of the lateral file cabinet by Ken's desk.  Paper for printers is usually nearby, too.  File folders, interdepartmental mail envelopes, and some other items are on the shelves above Ken's desk.  Speak with Ken if you'd like him to order other office supplies, or if you notice supplies running low (and <em>especially</em> if you take the last of something!).</p>
        <p>Most purchasing at MIT is now done via an online system (called "SAP"), which is used to create a purchase order that enables the vendor to be paid.  MIT has established "partner relationships"with Dell and PCconnection/GovConnection which make it relatively easy to purchase equipment from them, but it is also possible to make purchases from other vendors.</p>
        <p>In many cases, it is also possible (and easier) to use an MIT credit card for purchases.  See Dr. Mark or Ken for details.</p>
        <p>You may also request reimbursement for a purchase you have made directly.  Submit receipts to Ken, who will submit a request for reimbursement to MIT's accounting department.  MIT requires an original receipt as proof of purchase, and MIT will not reimburse you for taxes paid: if you make purchases out of your own pocket, please give the merchant MIT's tax exempt number (042-103-594) so that you won't be charged tax.  You may also have to provide a copy of MIT's tax-exempt certificate&#8212;see Ken for a copy if you need one.</p>
        <p><em>Dr. Mark must okay all purchases and requests for reimbursement! If you purchase <em>before</em> you get the okay, you take your chances!</em></p>

        <h3 id="tth_sEc2.7">2.7 Ergonomics</h3>
        <p>As you set up your workstation, be sure to make ergonomically sound choices about placement of monitors, keyboard, etc.  Useful guidelines for workstation setup, and for sound work habits to help prevent repetitive strain injury and other problems related to computer use, are available at <a href="http://ehs.mit.edu/site/content/ergonomics" target="_blank">http://ehs.mit.edu/site/content/ergonomics</a>.</p>

        <h3 id="tth_sEc2.8">2.8 E-mail</h3>
        <p>If you are new to MIT, please establish an MIT username (a Kerberos account) as outlined at <a href="https://ist.mit.edu/start-fac-staff" target="_blank">https://ist.mit.edu/start-fac-staff</a>. This will set up an MIT e-mail address for you of the form <em>username</em>@mit.edu.  You may choose to use this e-mail address or not.  (Instructions for forwarding e-mail from this account can be found at <a href="http://ist.mit.edu/email/forward" target="_blank">http://ist.mit.edu/email/forward</a>.)</p>
        <p> Whether or not you are new to MIT, please let Ken know your preferred e-mail address for research-related messages.</p>

        <h4 id="tth_sEc2.8.1">2.8.1 E-mail lists</h4>
        <p>Notices of upcoming meetings and other lab-related messages are typically sent by e-mail, to lists set up for such messages.  There are two such lists:</p>
        <p><b>lcp@mit.edu</b><br>
  	    <font style="padding-left: 2em;">is intended to include only members who are currently working in E25-505 or E25-235 (i.e., the people who need to know about issues such as lab security, air conditioning, etc.).</font>
        <b>lcp-group@mit.edu</b><br>
        <font style="padding-left: 2em;">includes the list lcp@mit.edu, as well as individuals working outside E25-505 and E25-235 who have a connection to the lab's research projects.</font></p>
        <p>If you would like to update your e-mail address on either of these lists, or have an address added or removed from a list, send a note to Ken.</p>
        <p>There is also a list for those working on the BRP project.  Contact Ken for details.</p>

        <h3 id="tth_sEc2.9">2.9 Telephones and Fax Machine</h3>
        <p>Below are telephone numbers associated with the lab:</p>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <p><b>Name</b><br>
          Roger Mark<br>
          Secretary—Ken Pierce<br>
          Fax machine</p>
        </div>
        <div class="col-md-3">
          <p><b>Room</b><br>
          505C<br>
          505<br>
          505<br>
          505A<br>
          505B<br>
          505D<br>
          505DA</p>
        </div>
        <div class="col-md-5">
          <p><b>Number</b><br>
          617-253-7818<br>
          617-258-7656<br>
          617-258-7859<br>
          617-253-7424<br>
          617-258-5406<br>
          617-452-2575<br>
          617-253-7937</p>
        </div>
        <p>When dialing an MIT number from an MIT telephone, dial only the last five digits.  To dial a number outside of MIT, dial 9 and then the full number (<em>1 + area code + number</em> within the U.S.; <em>011 + country + city + number</em> outside the U.S.).</p>
        <p>The same procedures apply for fax machines. The fax machine is located on the counter in E25-505.  Fax cover sheets are in lower left-hand mail bin above the fax machine.</p>
        <p>For long-distance personal calls, please use a calling card or your own (cell) phone.</p>

        <h3 id="tth_sEc2.10">2.10 Printers</h3>
        <p>Printers available for lab use include the color printer on the counter in E25-505, and two black and white printers, one on the file cabinet in front of Ken's desk and the other in E25-505D. All three printers are on the local network.</p>
        <p>Here are the ip addresses:</p>
        <ul>
          <li>192.168.1.16 - OKI Black and White</li>
          <li>192.168.1.17 - OKI Color</li>
          <li>192.168.1.168 - Lexmark Photocopier</li>
        </ul>
        <p>Check with Felipe Torres for details if you need them.</p>
        <p>Please use the black and white printers when possible, reserving the color printer for jobs that require it.</p>

        <h3 id="tth_sEc2.11">2.11 Photocopies</h3>
        <p>There are two photocopiers in the lab: the color printer, which can also serve as a copier <em>when you really need color copies</em>; and a large Lexmark copier near the door to 505DA, for routine black-and-white or greyscale copies and for  more complex copying jobs. Feel free to use either of these, <em>but keep in mind that neither is intended for really major copying</em>.  For large copying jobs&#8212;those that will take a long time or use a lot of paper&#8212;please use MIT's CopyTech service or outside vendor.</p>
        <p>Please let Ken know about any problems with the copiers.</p>

        <h3 id="tth_sEc2.12">2.12 Recycling</h3>
        <p>MIT has a great recycling program.  All paper, including colored paper, glossy paper, magazines, post-it notes, newspaper, etc.may be recycled in gray desk-side recycling bins.  Cardboard boxes can be cut or folded to fit in a bin, or broken down, labeled "recycle", and placed beside a bin.  Bins for glass, plastics 1-7, and cans, are located throughout the campus, most notably right outside our door.  These "co-mingles"should be empty, and clean if possible.  Remove lids.</p>

        <h3 id="tth_sEc2.13">2.13 Waste Disposal</h3>
        <p>Trash bins in the office are not emptied every night. Food waste and anything else that's likely to smell or grow should be thrown in bins in hallways or kitchens, as these <em>will</em> be emptied nightly.</p>

        <h3 id="tth_sEc2.14">2.14 Heating, Cooling, and Facilities Maintenance</h3>
        <p>Please let Ken or Dr. Mark know about any problems with air conditioning, heating, plumbing, electricity, etc.</p>

        <h3 id="tth_sEc2.15">2.15 Travel</h3>
        <p>MIT has an online system, &ldquo;Concur&rdquo;, for travel accounting, and Dr. Mark has a credit card that may be used for travl-related expenses: airfares, conference registrations, hotel reservations. Please check with Ken for details.</p>
        <p>Expenses for travel related to MIT business (e.g., to attend a conference) may be reimbursed, provided certain conditions are met:</p>
        <p><b>Before the trip:</b><br>
        <font style="padding-left: 2em;"> Rather than paying out of pocket to book flights, you may charge tickets using the Concur online system. If you book your own flights, make sure that your itinerary meets conditions for reimbursement by the account you plan to use.  For example, some U.S. funding agencies like the NIH require that travel be on domestic carriers if possible.</font><br>
        <b>During the trip:</b><br>
        <font style="padding-left: 2em;">Save all your receipts! This includes airline ticket receipts and boarding passes as well as receipts for taxi cabs, meals, and hotels.  Be sure to get a receipt for any registration fees; this will be required for reimbursement.</font><br>
        <b>After the trip:</b><br>
        <font style="padding-left: 2em;">As soon as possible after your trip, check with Ken about submitting a travel voucher.</font></p>

        <h3 id="tth_sEc2.16">2.16 Books</h3>

        <h4 id="tth_sEc2.16.1">2.16.1 Dr. Mark's library</h4>
        <p>Dr. Mark has an extensive collection of reference books.  To borrow one of them, check with him first; then fill out the card in the back of the book and leave it with Ken.</p>

        <h4 id="tth_sEc2.16.2">2.16.2 MIT and Harvard libraries</h4>
        <p>MIT has a number of libraries scattered about campus. The two most relevant libraries are Barker Engineering Library (10-500) and the Hayden Science Library (14S-100). The MIT library catalog ("Barton") and other information about MIT libraries are available via <a href="http://libraries.mit.edu/" target="_blank">http://libraries.mit.edu/</a>.  Also available via this site are links to online databases such as Medline.</p>
        <p>The Harvard Medical School Library, Countway Library, is a useful source for medical texts and journals. Its collection is catalogued in the Harvard online catalog ("HOLLIS"), available via <a href="http://library.harvard.edu/" target="_blank">http://library.harvard.edu/</a>. For more information, see <a href="http://www.countway.harvard.edu/" target="_blank">http://www.countway.harvard.edu/</a>.</p>

        <h4 id="tth_sEc2.16.3">2.16.3 Bookstores</h4>
        <p>Here's a list of some useful bookstores in the area:</p>
        <p><b>MIT Coop</b><br>
        <font style="padding-left: 2em;">for engineering texts, class books, etc. (Kendall Square)<br></font>
        <b>Harvard Coop</b><br>
        <font style="padding-left: 2em;">general book and department store (Harvard Square)<br></font>
        <b>Medical Coop</b><br>
        <font style="padding-left: 2em;">Medical references (Longwood Ave, Boston)<br></font>
        <b>BU bookstore</b><br>
        <font style="padding-left: 2em;">Large store, general text materials (Commonwealth Ave.)</font></p>

        <h3 id="tth_sEc2.17">2.17 Lab Meetings</h3>
        <p>Our group meets formally once a week. All lab members are expected to attend every meeting and at least once per term to give presentations at lab meetings on any topic of interest to the group&#8212;usually on work completed or in progress. Meetings are generally held in conference room E25-101, and lunch is provided.  Meeting time is scheduled on a term-by-term basis to accommodate changing schedules.</p>

        <h3 id="tth_sEc2.18">2.18 Document your code!</h3>
        <p>Code generated in the lab must be properly documented, so as to be usable by others.  Please be sure to include explanatory comments in any and all code that you develop, <em>at every stage of the process.</em>  Senior researchers in the lab can offer advice and examples of well-documented code.  They may also ask, at any time, to take a look at your project to make sure that your code includes suitable documentation.</p>

        <h3 id="tth_sEc2.19">2.19 Check-out procedures</h3>
        <p>At the end of your time working in the LCP, please remember to do the following before leaving:</p>
        <ul>
          <li> Return keys that were issued to you, including door keys and keys to desks, drawers, and cabinets.</li>
          <li> Return any books or other items that you've borrowed from Dr.Mark (or from others).</li>
          <li> Leave Dr.Mark a copy of any publications (e.g., your thesis) related to your work in the LCP.</li>
          <li> Archive research-related computer files and let Dr.Mark know where they're stored and how to retrieve them.</li>
          <li> Delete personal and irrelevant files from computers you were using.</li>
          <li> Clean out your desk and the area around it.</li>
          <li> If you are moving to another office at MIT, update your contact information with the appropriate MIT office.  Students can do so via the WebSIS site, at <a href="https://student.mit.edu/cgi-docs/sfprwups.html" target="_blank">https://student.mit.edu/cgi-docs/sfprwups.html</a>. Employees can do so via the MIT&rsquo;s atlas site, at <a href="https://atlas.mit.edu/atlas/Main.action?tab=aboutMe&sub=persinfo" target="_blank">https://atlas.mit.edu/atlas/Main.action?tab=aboutMe&amp;sub=persinfo</a>.</li>
          <li> Provide Ken with your new contact information using the LCP <a href="check-out_form.html" target="_blank">check-out form</a>.</li>
        </ul>

        <h2 id="tth_sEc3">3 Safety</h2>

        <h3 id="tth_sEc3.1">3.1 General Emergency Information</h3>
        <p>Dial 100 on any institute telephone for any emergency. This includes all police, medical/ambulance, fire/explosion, bomb threats, and laboratory spill emergencies. (From a non-institute phone, dial 1-617-253-1212 for MIT Campus Police.)</p>

        <h3 id="tth_sEc3.2">3.2 Safety Resources</h3>
        <p>Information from MIT's Environment, Health, and Safety office (EHS) is available at <a href="http://ehs.mit.edu/site/" target="_blank">http://ehs.mit.edu/site/</a>.</p>

        <h3 id="tth_sEc3.3">3.3 Fire, Evacuation</h3>
        <p>To report a fire at MIT activate the nearest fire alarm box (usually located near exit doors and stairs.) If there is no fire alarm box nearby, dial 100 from an MIT phone. Give your name and location, and describe the fire. Stay on the phone until the dispatcher hangs up.</p>
        <p>It is MIT policy that when an alarm is sounded:</p>
        <ul>
          <li> All fire alarms are to be taken seriously and require immediate evacuation.</li>
          <li> <em>Use an enclosed stairway</em>. For Building E25, use either the enclosed stairwell at the <em>west</em> end (near the link to building E18) <em>or</em> cross the bridge to E23 and go down the enclosed stairwell in the Medical Department to the ground floor. Do not go down the atrium staircase. That staircase does not protect against smoke or fire. <em>Do not use elevators.</em>  An elevator shaft acts as a chimney; occupants may be trapped in a smoke-filled shaft, especially if there is a power failure.</li>
          <li> Once outside the building, proceed to the assigned meeting area for E25, in the courtyard between E25 and E15 (the Media Lab). In inclement weather, head for the lobby of E15.</li>
          <li> Give any information about the fire or about persons who might still be in the building to the Fire Department, the MIT Emergency Response Group, or Campus Police.</li>
          <li> <em>Do not re-enter the building for any reason until told to do so by the Fire Department or MIT Campus Police.</em></li>
        </ul>

        <h3 id="tth_sEc3.4">3.4 Injury</h3>
        <p>Any accident involving injury should immediately be dealt with by the MIT Medical Department, Bldg.E23, ground floor; x3-1311. It is open 24 hours daily.</p>

        <h3 id="tth_sEc3.5">3.5 Security</h3>
        <p>MIT is an open campus in an urban environment. The same freedom of access and mobility that you enjoy is also available to intruders. Consequently:</p>
        <p>Keep the door to E25-505 locked during off-hours&#8212;early morning, evenings (after 6 pm), weekends, and holidays&#8212;and whenever Ken isn't around and no one else has a clear view of the doorway. Same goes for E25-235.  Keep your keys with you to avoid being locked out.  Question intruders and suspicious persons and ask for a show of MIT identification, but for your own safety don't challenge them beyond that. If you find reason for concern about someone, take mental note of his/her description and location or direction-of-travel, and call the Campus Police, x3-1212, as soon as possible.</p>
        <p>In the interests of safety and personal security, try to avoid working alone after hours. When you are here alone, take special care. Consider having someone check on you periodically. You may call Campus Police, x3-2996, inform them where you are, and ask that they make periodic patrols.</p>

        <h3 id="tth_sEc3.6">3.6 Smoking</h3>
        <p>Smoking is prohibited in all nonresidential buildings located in Cambridge. This MIT policy is in accordance with an ordinance of the City of Cambridge.</p>

        <h3 id="tth_sEc3.7">3.7 Food and Drink</h3>
        <p>The coffee maker on the counter in 505 is for the use of our lab.  There's no charge for coffee, but if you use milk please chip in for it (approximately $1 per week).  Coffee-making supplies are kept in the top drawer of the file cabinet under the color printer.  Use good sense in deciding when to make more coffee or dump what's there.  Make sure the burner is off when it's not needed.</p>
        <p>There are soda and snack machines in basement of building E25, below the atrium.  There are places to buy food across Main St., next to the MIT Coop, and there are other food places along Main Street.</p>

        <p><b>Do not leave empty cans, bottles, paper cups, etc.around the lab!</b></p>
      </div>
    </div>
  </div>
</body>
</html>
