<!DOCTYPE html>
<html>
<head>
        <title>LCP welcome</title>
        {% include 'info/header.html'%}
</head>

<body>
    <h2 align="center">Laboratory for Computational Physiology</h2>
    <center>
            Director: Roger G. Mark, M.D., Ph.D.<br>
            Massachusetts Institute of Technology, E25-505<br>
            45 Carleton St.<br>
            Cambridge, MA 02139<br>
            617-253-7818
    </center>

    <hr>
    <div class='container'>
        <div class='row'>
        	{{Content | safe}}

			<p>
				<a href='/info/'>Back</a> to registration form<br>
				<a href='/info/intro_to_Mark_lab.html'> Back</a> to introduction page
			</p>
		</div>
	</div>
</body>
</html>
                	
