{% set active_page = "About" %}
{% extends "base.html" %}
{% block title %}Laboratory for Computational Physiology{% endblock %}
{% block head2 %}{% endblock %}

{% block content %}

<a id="skip_content"></a>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="text-left">
        <h1 class="site-section-title" id="About">About</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">

      <h2 class="site-section-meta border-bottom" id="Summary">Research Summary</h2>
      <p>
        The Laboratory for Computational Physiology (LCP), under the direction of Professor Roger Mark, conducts research on improving health care through new and refined approaches to interpreting data.
        Some of the group’s researchers have medical backgrounds; others have backgrounds in computer science, electrical engineering, physics, or mathematics; and others have training that spans several of these disciplines.
        Current laboratory research incorporates physiology, computer science, engineering, and applied mathematics.
        <br><br>
        Using modern approaches to modeling, signal processing, pattern recognition, and machine learning, the lab’s researchers develop and refine methods for analyzing data—for example, from patients in intensive care units—and for generating predictive models that will aid in patient care.
        Current laboratory research comprises two major projects, the <a href="mimic">MIMIC</a> project and <a href="physionet">PhysioNet</a>. See their respective pages for more detailed information.
      </p>

      <h2 class="site-section-meta border-bottom" id="Joining">Joining the Lab</h2>
      <p>
        The Laboratory for Computational Physiology offers research opportunities to MIT students, including UROPs for undergraduate students and thesis projects for graduate students.
        A degree is required of anyone outside of the MIT community interested in collaborating with the laboratory.
        For those with a degree interested in collaborating with the laboratory, please <a href="#Contact">contact us</a>.
      </p>

      <h2 class="site-section-meta border-bottom" id="Contact">Contact</h2>
      <p>
        Laboratory for Computational Physiology<br>
        Massachusetts Institute of Technology, E25-505<br>
        77 Massachusetts Avenue<br>
        Cambridge, MA 02139, USA
      </p>
      <p>
        You may contact Prof. Roger Mark at MIT extension 3-7818, or via his MIT e-mail address.
      </p>

    </div>
    <aside class="col-md-3">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <ul>
          <li><a href="#Summary">Research Summary</a></li>
          <li><a href="#Joining">Joining the Lab</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </div>
    </aside>
  </div>
</div>

{% endblock %}
