<div class="footer_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h2 class="menu_head" >Recent Publications</h2>
        <div class="footer_menu_pub">
          <ul id="News" style='list-style: square outside;'>
            {% include 'recent_publications.html'%}
            <li><a href="publications">Read more...</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <h2 class="menu_head">Quick Links</h2>
        <div class="footer_menu">
          <ul id="Links" style='list-style: none;list-style-position: inside; padding-left: 0;'>
            <li><a href="https://physionet.org" target="_blank">PhysioNet Website</a></li>
            <li><a href="https://mimic.physionet.org" target="_blank">MIMIC Website</a></li>
            <li><a href="http://sana.mit.edu/" target="_blank">Sana Website</a></li>
            <li><a href="http://criticaldata.mit.edu/" target="_blank">Critical Data Website</a></li>
            <li><a href="http://accessibility.mit.edu/" target="_blank">Accessibility</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2 class="menu_head">Contact Us</h2>
        <p>Massachusetts Institute of Technology,<br>
        E25-505<br>
        77 Massachusetts Avenue<br>
        Cambridge, MA 02139, USA</p>
        <p><a href="mailto:contact@lcp.mit.edu"><i class="fa fa-envelope">&nbsp;</i>contact@lcp.mit.edu</a><br>
        <a href="https://github.com/MIT-LCP" target="_blank"><i class="fa fa-github">&nbsp;</i>Github</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-lg-3 col-xm-3"></div>
      <div class="col-md-2 col-sm-2 col-lg-2 col-xm-2 affiliate_logo">
        <a href="https://www.mit.edu" target="_blank">
          <img class="img-responsive" alt="[MIT photo logo]" style="margin:1em 0;width:100%;height:auto;" src="{{url_for('static', filename='images/mit.png')}}" >
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2 col-xm-2 affiliate_logo">
        <a href="http://imes.mit.edu" target="_blank">
          <img class="img-responsive" alt="[IMES photo logo]" style="margin:1em 0;width:100%;height:auto;" src="{{url_for('static', filename='images/imes.png')}}" >
        </a>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2 col-xm-2 affiliate_logo">
        <a href="https://hst.mit.edu" target="_blank">
          <img class="img-responsive" alt="[HST photo logo]" style="margin:1em 0;width:100%;height:auto;" src="{{url_for('static', filename='images/hst-logo.png')}}" >
        </a>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
