<div class="footer_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3 class="menu_head" >Recent publications</h3>
        <div class="footer_menu1">
          <ul id="News" style='list-style: square outside;'>
              {% include 'recent_publications.html'%}
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <h3 class="menu_head">Quick Links</h3>
        <div class="footer_menu">
          <ul id="Links" style='list-style: none;'>
            <li><a href="https://physionet.org">PhysioNet Website</a></li>
            <li><a href="https://mimic.physionet.org">MIMIC Website</a></li>
            <li><a href="https://querybuilder-lcp.mit.edu">Query Builder</a></li>
            <li><a href="http://sana.mit.edu/">Sana Website</a></li>
            <li><a href="http://criticaldata.mit.edu/">Critical Data Website</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h3 class="menu_head">Contact us</h3>
        <div class="footer_menu_contact">
          <ul style='list-style: none;'>
            <li>
              <i class="fa fa-home"></i>
              <span>Laboratory for Computational Physiology <br> MIT, E25-505 <br> 77 Massachusetts Ave. <br> Cambridge, MA 02139 <br></span>
            </li>
<!--             <li><i class="fa fa-envelope"></i>contact&lt;AT&gt;lcp.mit.edu</li>
 -->
            <li><i class="fa fa-envelope"></i>contact@lcp.mit.edu</li>
             <li>
            <a href="https://github.com/MIT-LCP" style="padding-right:10px;color:#337ab7;"><i class="fa fa-github fa-2x" ></i></a>
            <a href="https://twitter.com/mitcriticaldata" style="padding-right:10px;color:#337ab7;"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/mitcriticaldata" style="padding-right:10px;color:#337ab7;"><i class="fa fa-instagram fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer_b">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="footer_bottom">
          <p class="text-block"> © Copyright reserved to <span>LCP </span></p>
        </div>
      </div>
    </div>
  </div>
</div>
