  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
  <meta name="author" content="Felipe Torres">

  <link rel="icon" href="{{ url_for('static', filename='images/lcp_favicon5.png') }}">


  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/styles.css') }}" /> 
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/custom_2.css') }}" />
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='bootstrap_v4/css/bootstrap.min.css') }}" />

<!--   <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/custom_2-revkp.css') }}" />
 -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>

  <script src="{{ url_for('static', filename='bootstrap_v4/js/bootstrap.js') }}"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87592301-3"></script>
  <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>




<!--
  <script src="{{ url_for('static', filename='js/slippry.min.js') }}"></script>
-->