{% set active_page = "Home" %}
{% extends "base.html" %}
{% block title %}Laboratory for Computational Physiology{% endblock %}
{% block head2 %}{% endblock %}
{% block content %}
  <section id="about" class='about'>
    <div class="container">
      <div class="jumbotron p-md-5 text-white rounded back">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Welcome</h1>
          <p class="lead my-3">
            The Laboratory for Computational Physiology (LCP), under the direction of Professor Roger Mark, is focused on research at the intersection of medicine and engineering.
          </p>
          <p class="lead mb-0">
            <a href="About">Continue Reading...</a>
          </p>
        </div>
      </div>
    </div>
  </section>
<!-- - - - - - - - - - - - - - - - - - - - - - - ABOUT  - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - Projects - - - - - - - - - - - - - - - - - - - - - - - -->
  <section id="projects">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-xs-3 col-sm-3"></div>
        <div class="col-md-3 col-xs-3 col-sm-3">
          <div class="feature_content" align='center'>
            <a href="Physionet"><i class="fa fa-desktop"></i>
            <h5>Physionet</h5></a>
            <a href="Physionet">One of the world’s largest, most comprehensive, and most widely used repositories of freely available recorded physiologic signals and high resolution clinical ICU data.</a>
          </div>
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3">
          <div class="feature_content" align='center'>
            <a href="CCI"><i class="fa fa-database"></i>
            <h5>Critical Care Informatics</h5></a>
            <a href="CCI" style="text-align:center;">Two databases of hospitals intensive care units (ICUs) with 250,000+ admissions, publicly available to improve health care.</a>
          </div>
        </div> 
      </div>
    </div> 
  </section><br>
<!-- - - - - - - - - - - - - - - - - - - - - - - Projects - - - - - - - - - - - - - - - - - - - - - - - -->

{% endblock %}
