{% set active_page = "Home" %}
{% extends "base.html" %}
{% block title %}Laboratory for Computational Physiology{% endblock %}
{% block head2 %}{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron p-md-5 text-white rounded back">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome</h1>
      <p class="lead my-3">
        The Laboratory for Computational Physiology (LCP), under the direction of Professor Roger Mark, is focused on research at the intersection of medicine and engineering.
      </p>
      <p class="lead mb-0">
        <a href="about">Continue Reading...</a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="site-section-title">Latest News</h1>
  <div class="row mb-2">
    {% for post in news.news_items %}
      {% if post.front_page %}
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">{{ post.header }}</strong>
              <h3 class="mb-0">{{ post.title }}</h3>
              <div class="mb-1 text-muted">{{ post.date }}</div>
              <p class="card-text">{{ post.content | safe | truncate(200)}}</p>
              <a href="/news" class="card-link">Continue reading</a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
