{% block head2 %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

<div class="container">
  <!-- Header with lab name and logo -->
  <header class="site-header py-4">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-md-1">
        <a href="index.html"><img class="img-fluid" src="{{ url_for('static', filename='images/lcp_logo.png') }}" alt="Laboratory for Computational Physiology"></a>
      </div>
      <div class="col-md-0 text-primary">
        <a class="site-header-logo text-dark" href="index.html">Laboratory for Computational Physiology</a>
      </div>
    </div>
  </header>

  <!-- Top bar with links to each page -->
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="index.html">Home</a>
      <a class="p-2 text-muted" href="About">About</a>
      <a class="p-2 text-muted" href="People">People</a>
      <a class="p-2 text-muted" href="PhysioNet">PhysioNet</a>
      <a class="p-2 text-muted" href="CCI">Critical Care</a>
      <a class="p-2 text-muted" href="Publications">Publications</a>
    </nav>
  </div>
</div>