{% set active_page = "News" %}
{% extends "base.html" %}
{% block title %}Laboratory for Computational Physiology{% endblock %}
{% block head2 %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/publications.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/references.css') }}">
{% endblock %}

{% block content %}

<main role="main" class="container">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="text-left">
        <h1 class="site-section-title">News</h1>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-1 tabs-left">
      <ul class="nav nav-tabs" id="Publications" role="tablist">
        {% for year in news.tag_info.year %}
          {% if year == news.tag_info.year|max %}
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" id="{{ year }}_tab" href="#P_{{ year }}">{{ year }}</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" id="{{ year }}_tab" href="#P_{{ year }}">{{ year }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-10">
      <div class="tab-content">
        {% for year in news.tag_info.year %}
          {% if year == news.tag_info.year|max %}
            <div id="P_{{ year }}" class="container tab-pane active">
          {% else %}
            <div id="P_{{ year }}" class="container tab-pane fade">
          {% endif %}
          {% for post in news.news_items %}
            {% if year in post.date %}
              <div class="col-md-12">  
                <h2 class="site-section-meta">{{ post.title }}</h2>
                <h2 class="site-section-sub">{{ post.date }}</h2>
                <p>{{ post.content | safe }}</p>
                <p><a href="{{ post.url }}">Read more..</a></p>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

{% endblock %}
