{% extends "base.html" %}
{% block title %}Laboratory for Computational Physiology{% endblock %}
{% block head2 %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-10">

      <div class="text-left">
        <h1 class="site-section-title">People</h1>
      </div>

      <p>
        Research in the Laboratory for Computational Physiology takes place both in the laboratory itself and through collaborations with other researchers elsewhere on campus.
        Current <a href="#researchers">members</a> of the laboratory are listed below.
      </p>

      <a name="researchers"></a>
      <h2 class="site-section border-bottom">Current members</h2>

      {% for person in people.current_members %}
        <div id="{{ person.name }}">
          <h2 class="site-section-meta">{{ person.name }}</h2>
          <div class="row">
            <div class="col-md-2">
              {% if person.image %} 
              <img class="img-fluid" width="100%" src="{{ url_for('static', filename='images/' + person.image )}}" alt="{{ person.name }}">
              {% else %} 
              <img class="img-fluid" width="100%" src="{{ url_for('static', filename='images/missing.jpg' )}}" alt="{{ person.name }}">
              {% endif %} 
            </div>
            <div class="col-md-10">
              <p>{{ person.biog }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <aside class="col-md-2 blog-sidebar">
      <div class="p-3">
        <h4 class="font-italic">People</h4>
        <ol class="list-unstyled mb-0">
          {% for person in people.current_members %}
            <li><a href="#{{ person.name }}">{{ person.name }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </aside>

  </div>
</main>
{% endblock %}
