{% extends "base.html" %}
{% block title %}Laboratory for Computational Physiology{% endblock %}
{% block head2 %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/people.css') }}">
{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-10 blog-main">

      <div class="feature_header text-center">
        <h1 class="feature_title">LCP Personnel and Collaborators</h1>
        <div class="divider"></div>
      </div>

      <p>
        Research in the Laboratory for Computational Physiology takes place both in the lab itself and through collaborations with other researchers elsewhere on campus.
        LCP <a href="#researchers">researchers</a> and principal collaborators are listed below.
      </p>

      <a name="researchers"></a>
      <h2 class="site-section-title border-bottom">Researchers</h2>

      {% for item in Person %}
        <div class="site-section" id="{{item[0]}}">
          <h2>{{item[2] | safe}}</h2>
          <div class="row">
            <div class="col-md-2">
              <img class="img-fluid" width="100%" src="{{url_for('static', filename='images/'+item[4])}}" alt="[{{item[2] | safe}} photo]">
            </div>
            <div class="col-md-10">
              {{item[1] | safe}}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <aside class="col-md-2 blog-sidebar">
      <div class="p-3">
        <h4 class="font-italic">People</h4>
        <ol class="list-unstyled mb-0">
          {% for item in Person %}
            <li><a href="#{{item[0]}}">{{item[2] | safe}}</a></li>
          {% endfor %}
        </ol>
      </div>
    </aside>

  </div>
</main>
{% endblock %}
