{% extends "base.html" %}
{% block title %}Laboratory for Computational Physiology{% endblock %}
{% block head2 %}{% endblock %}
{% block content %}

<div class="container about">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="feature_header text-center">
        <a href="https://physionet.org">
        <h1 class="feature_title">PhysioNet</h1></a>
        <div class="divider"></div>
      </div>
    </div>  <!-- Col-md-12 End -->
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - Physionet Details - - - - - - - - - - - - - - - - - - - - - - -->
  <div class="row text-center">
    <div class="feature_content" align='center'>
      <a href="https://physionet.org/lightwave/">
        <div class="image_hover" data-content="LightWAVE">
          <img class="img-fluid" alt="[MIT photo logo]" style="margin:1em 0;width:90%;height:auto;" src="{{url_for('static', filename='images/MIT_BIH_waveform.png')}}">
        </div>
      </a>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div class="feature_content" align='center'>
        <a href="https://physionet.org/about/"><i class="fa fa-history"></i>
        <h5>History</h5></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div class="feature_content" align='center'>
        <a href="https://physionet.org/content/"><i class="fa fa-search"></i>
        <h5>Search For Data</h5></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div class="feature_content" align='center'>
        <a href="https://physionet.org/about/publish/"><i class="fa fa-share"></i>
        <h5>Share Your Data</h5></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div class="feature_content" align='center'>
        <a href="https://physionet.org/news/"><i class="fa fa-comment"></i>
        <h5>Latest News</h5></a>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock %}
